.Hero-heading{
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    opacity: 0;
    animation: fade-in ease-in;
    animation-timeline: view();
    animation-range: 100px 600px; 
    /* transform: translateX(-50%); */
}
@keyframes fade-in {
    to{font-size: 7vw; opacity: 1;
    }
}